# Airflow junk
airflow/logs/
airflow/plugins/__pycache__/
airflow/config/*.cfg
airflow/.env
airflow.db
airflow.cfg
webserver_config.py
logs/
plugins/
standalone_admin_password.txt
airflow-webserver.pid

# Credenciais e Configurações locais
auth.json
*.pem
*.key
.terraform/
*.tfstate

# Python
.pytest_cache/
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/

# IDEs
.vscode/
.idea/

# Great Expectations
gx/uncommitted/
gx/checkpoints/checkpoint_run_*.json
gx/logs/

# Spark/Hadoop
spark-warehouse/
metastore_db/
derby.log